.calculator_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    
  }
  .calculator_body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .calculator_button{
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
  }
  .calculator_display{
    grid-column: span 4;
    background-color: #222;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
  }

  .calculator_button.operator {
    background-color: #007BFF;
    color: white;
  }

  .calculator_button:hover {
    opacity: 0.5;
    
  }