body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    background-color: #333;
    color: white;
}
.navbar-brand {
    font-size: 1.5em;
}
.nav-links{
    display: flex;
    gap:20px;
}
.nav-links a:hover{
    background-color: #555;
}
.nav-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle .bar{
    width: 25px;
    height:3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-toggle {
        display: flex;
    }
}